.about-us,
.about-us * {
  box-sizing: border-box;
}
.about-us {
  background: #ffffff;
  height: 1119px;
  position: relative;
}
.vector {
  width: 6.46%;
  height: 0.89%;
  position: absolute;
  right: 58.44%;
  left: 35.1%;
  bottom: 76.23%;
  top: 22.88%;
  overflow: visible;
}
.vector2 {
  width: 6.46%;
  height: 0.89%;
  position: absolute;
  right: 69.79%;
  left: 23.75%;
  bottom: 41.64%;
  top: 57.46%;
  overflow: visible;
}
.frame-121 {
  display: flex;
  flex-direction: column;
  gap: 44px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 725px;
  height: 418px;
  position: absolute;
  left: 197px;
  top: 110px;
}
.about-us2 {
  color: var(--bllack-blue, #1a2844);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 105px;
  line-height: 150%;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.aduunyo-solutions-is-a-hargeisa-based-microfinance-company-dedicated-to-making-technology-accessible-and-affordable-we-empower-individuals-and-businesses-by-providing-laptops-smartphones-and-essential-electronic-items-through-a-flexible-monthly-payment-system-our-approach-eliminates-the-financial-barrier-to-owning-modern-tools-enabling-our-customers-to-connect-learn-and-grow-without-the-burden-of-large-upfront-costs {
  color: #000000;
  text-align: justified;
  font-family: "-", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  flex: 1;
}
.aduunyo-solutions-is-a-hargeisa-based-microfinance-company-dedicated-to-making-technology-accessible-and-affordable-we-empower-individuals-and-businesses-by-providing-laptops-smartphones-and-essential-electronic-items-through-a-flexible-monthly-payment-system-our-approach-eliminates-the-financial-barrier-to-owning-modern-tools-enabling-our-customers-to-connect-learn-and-grow-without-the-burden-of-large-upfront-costs-span {
  font-family: "Inter-Bold", sans-serif;
  font-weight: 700;
}
.aduunyo-solutions-is-a-hargeisa-based-microfinance-company-dedicated-to-making-technology-accessible-and-affordable-we-empower-individuals-and-businesses-by-providing-laptops-smartphones-and-essential-electronic-items-through-a-flexible-monthly-payment-system-our-approach-eliminates-the-financial-barrier-to-owning-modern-tools-enabling-our-customers-to-connect-learn-and-grow-without-the-burden-of-large-upfront-costs-span2 {
  font-family: "Inter-Regular", sans-serif;
}
.frame-122 {
  display: flex;
  flex-direction: column;
  gap: 37px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 725px;
  height: 178px;
  position: absolute;
  left: 197px;
  top: 588px;
}
.our-mission {
  color: var(--green, #5ba44c);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 40px;
  line-height: 150%;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.to-bridge-the-digital-divide-by-providing-affordable-access-to-essential-electronics-through-microfinance-solutions-that-empower-people-to-achieve-more-in-their-personal-and-professional-lives {
  color: #000000;
  text-align: justified;
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  flex: 1;
}
.frame-123 {
  display: flex;
  flex-direction: column;
  gap: 37px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 725px;
  height: 151px;
  position: absolute;
  left: 197px;
  top: 858px;
}
.our-vision {
  color: var(--green, #5ba44c);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 40px;
  line-height: 150%;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.to-become-the-leading-microfinance-partner-in-somaliland-and-beyond-driving-inclusive-growth-and-digital-empowerment-by-making-technology-accessible-to-all {
  color: #000000;
  text-align: justified;
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  height: 54px;
}
.vector3 {
  width: 6.46%;
  height: 0.89%;
  position: absolute;
  right: 70.05%;
  left: 23.49%;
  bottom: 17.16%;
  top: 81.95%;
  overflow: visible;
}
.frame-124 {
  display: flex;
  flex-direction: row;
  gap: 13px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 1142px;
  top: 419px;
}
.ellipse-1827 {
  background: var(--green, #5ba44c);
  border-radius: 50%;
  border-style: solid;
  border-color: #2e5227;
  border-width: 2px;
  flex-shrink: 0;
  width: 69px;
  height: 69px;
  position: relative;
}
.frame-28 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 363px;
  position: relative;
}
.apply-for-microfinance {
  color: var(--bllack-blue, #1a2844);
  text-align: justified;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 32px;
  line-height: 150%;
  font-weight: 600;
  position: relative;
  align-self: stretch;
  height: 45px;
}
.submit-your-application-online-or-at-our-office-to-get-started {
  color: #000000;
  text-align: justified;
  font-family: "Inter-Medium", sans-serif;
  font-size: 12px;
  line-height: 150%;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.frame-125 {
  display: flex;
  flex-direction: row;
  gap: 13px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 1142px;
  top: 588px;
}
.ellipse-18272 {
  background: rgba(91, 164, 76, 0.3);
  border-radius: 50%;
  border-style: solid;
  border-color: #2e5227;
  border-width: 2px;
  flex-shrink: 0;
  width: 69px;
  height: 69px;
  position: relative;
}
.application-review {
  color: var(--bllack-blue, #1a2844);
  text-align: justified;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 32px;
  line-height: 150%;
  font-weight: 600;
  position: relative;
  align-self: stretch;
  height: 45px;
}
.our-team-reviews-your-request-quickly-and-transparently {
  color: #000000;
  text-align: justified;
  font-family: "Inter-Medium", sans-serif;
  font-size: 12px;
  line-height: 150%;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.frame-126 {
  display: flex;
  flex-direction: row;
  gap: 13px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 1142px;
  top: 775px;
}
.visit-our-office {
  color: var(--bllack-blue, #1a2844);
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 32px;
  line-height: 150%;
  font-weight: 600;
  position: relative;
  align-self: stretch;
  height: 45px;
}
.frame-127 {
  display: flex;
  flex-direction: row;
  gap: 13px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 1142px;
  top: 922px;
}
.get-your-dream-item {
  color: var(--bllack-blue, #1a2844);
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 32px;
  line-height: 150%;
  font-weight: 600;
  position: relative;
  align-self: stretch;
  height: 45px;
}
.walk-away-with-your-chosen-laptop-phone-or-electronic-item-paid-in-easy-monthly-installments {
  color: #000000;
  text-align: justified;
  font-family: "Inter-Medium", sans-serif;
  font-size: 12px;
  line-height: 150%;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.line-5 {
  width: 95.5px;
  height: 0px;
  position: absolute;
  left: 1178px;
  top: 490.5px;
  overflow: visible;
}
.line-6 {
  margin-top: -2px;
  border-style: dashed;
  border-color: var(--bllack-blue, #1a2844);
  border-width: 2px 0 0 0;
  width: 114px;
  height: 0px;
  position: absolute;
  left: 1175px;
  top: 659px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.line-7 {
  margin-top: -2px;
  border-style: dashed;
  border-color: var(--bllack-blue, #1a2844);
  border-width: 2px 0 0 0;
  width: 84px;
  height: 0px;
  position: absolute;
  left: 1175px;
  top: 844px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
._01 {
  color: #ffffff;
  text-align: justified;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 1164px;
  top: 434px;
}
._02 {
  color: var(--bllack-blue, #1a2844);
  text-align: justified;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 1161px;
  top: 602px;
}
._03 {
  color: var(--bllack-blue, #1a2844);
  text-align: justified;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 1160px;
  top: 790px;
}
._04 {
  color: var(--bllack-blue, #1a2844);
  text-align: justified;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 22px;
  line-height: 150%;
  font-weight: 600;
  position: absolute;
  left: 1160px;
  top: 945px;
}
.footer {
  background: linear-gradient(
    98.44deg,
    rgba(26, 40, 68, 1) 0%,
    rgba(37, 126, 186, 1) 100%
  );
  padding: 64px 205px 243px 205px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: flex-end;
  justify-content: flex-start;
  width: 1920px;
  height: 568px;
  position: absolute;
  left: 0px;
  top: 1237px;
  overflow: hidden;
}
.top {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.col {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.frame-110 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.pages {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 140%;
  font-weight: 500;
  opacity: 0.4;
  position: relative;
}
.auto-layout-vertical {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.dashboard {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 140%;
  font-weight: 400;
  opacity: 0.8;
  position: relative;
}
.about-us3 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 140%;
  font-weight: 400;
  opacity: 0.8;
  position: relative;
}
.our-mission2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 140%;
  font-weight: 400;
  opacity: 0.8;
  position: relative;
}
.our-vision2 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 140%;
  font-weight: 400;
  opacity: 0.8;
  position: relative;
}
.frame-113 {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.frame-109 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.catalog {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 140%;
  font-weight: 500;
  opacity: 0.4;
  position: relative;
}
.sell-a-ready-made-company {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 140%;
  font-weight: 400;
  opacity: 0.8;
  position: relative;
}
.buy-a-ready-made-company {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 140%;
  font-weight: 400;
  opacity: 0.8;
  position: relative;
}
.all-services {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 140%;
  font-weight: 400;
  opacity: 0.8;
  position: relative;
}
.frame-108 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.info {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 140%;
  font-weight: 500;
  opacity: 0.4;
  position: relative;
}
.articles {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 140%;
  font-weight: 400;
  opacity: 0.8;
  position: relative;
}
.contacts {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 140%;
  font-weight: 400;
  opacity: 0.8;
  position: relative;
}
.block {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.logo {
  flex-shrink: 0;
  width: 48px;
  height: 34px;
  position: relative;
}
.image-2 {
  width: 393.75%;
  height: 50px;
  position: absolute;
  right: -294.79%;
  left: 1.04%;
  top: 0px;
  object-fit: cover;
  aspect-ratio: 189/50;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._252-63-0000000 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 140%;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.info-aduunyosolutions-com {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 140%;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.list2 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 249px;
  height: 44px;
  position: relative;
}
.group-8720 {
  flex-shrink: 0;
  width: 249.5px;
  height: 43.53px;
  position: static;
}
.group-8719 {
  width: 249.5px;
  height: 43.53px;
  position: static;
}
.group-57 {
  width: 249.5px;
  height: 43.53px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.x-31-0-linkedin {
  width: 6.34%;
  height: 35.86%;
  position: absolute;
  right: 46.72%;
  left: 46.94%;
  bottom: 36.02%;
  top: 28.12%;
  overflow: visible;
}
.tik-tok-1 {
  width: 21.49px;
  height: 21.49px;
  position: absolute;
  left: 164.42px;
  top: 12.05px;
  overflow: hidden;
}
.group {
  width: 87.72%;
  height: 99.85%;
  position: absolute;
  right: 6.14%;
  left: 6.14%;
  bottom: 0.08%;
  top: 0.08%;
  overflow: visible;
}
.twitter-1 {
  width: 20.78px;
  height: 20.78px;
  position: absolute;
  left: 217.44px;
  top: 11.33px;
  overflow: visible;
}
.block2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-end;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.btn {
  background: var(--green, #5ba44c);
  border-radius: 6px;
  padding: 8px 16px 10px 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.call-us-back {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 140%;
  font-weight: 500;
  position: relative;
}
.block3 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-end;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.omaar-haashi-building-floor-02-hargeisa {
  color: #ffffff;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 140%;
  font-weight: 400;
  opacity: 0.8;
  position: relative;
  align-self: stretch;
}
.block4 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-end;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.from-8-a-m-to-6-p-m {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 140%;
  font-weight: 500;
  opacity: 0.8;
  position: relative;
}
.saturday-thursday {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  line-height: 140%;
  font-weight: 400;
  opacity: 0.6;
  position: relative;
}
.bottom {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
._2025-all-rights-reserved-designed-by-generex-communication {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  line-height: 130%;
  font-weight: 400;
  opacity: 0.4;
  position: relative;
}
.ellipse-1826 {
  opacity: 0.5;
  width: 627.25px;
  height: 627.25px;
  position: absolute;
  left: 1364px;
  top: 296.87px;
  overflow: visible;
}
